<div class="w-[10%]">
    <ul class="flex flex-col">
      <li *ngFor="let menu of side_menu" class="menu">
        <p id="{{menu.menu}}" class="menu-item" (click)="toggle($event)">{{menu.menu}} 
          <svg *ngIf="menu.items" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
        </p>
        <ul *ngIf="menu.items" id="{{'dropdown-' + menu.menu}}" class="dropdown-menu hidden">
          <li *ngFor="let item of menu.items">
            <a class="flex font-semibold" routerLink="{{item.link}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>
              {{item.item}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>